:root {
    --primary-color: #000000;
    --white: #fff;
    --gap: 3rem;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

    
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
.main-bg-black {
    background-image: url(../img/main-bg-black.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white)

}
.main-bg-white {
    background-image: url(../img/main-bg-white.svg);
    background-size: cover;
    background-position: center center;
    color: var(--primary-color)
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);

}
.section {
    min-height: 100vh;
}